
# aerospace main

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
cmd - 0x2C : aerospace layout tiles horizontal vertical
cmd - 0x2B : aerospace layout accordion horizontal vertical

# See: https://nikitabobko.github.io/AeroSpace/commands#focus
cmd - 0x04 : aerospace focus left
cmd - 0x26 : aerospace focus down
cmd - 0x28 : aerospace focus up
cmd - 0x25 : aerospace focus right

cmd - home : aerospace focus left
cmd - pagedown : aerospace focus down
cmd - pageup : aerospace focus up
cmd - end : aerospace focus right

# See: https://nikitabobko.github.io/AeroSpace/commands#move
cmd + shift - 0x04 : aerospace move left
cmd + shift - 0x26 : aerospace move down
cmd + shift - 0x28 : aerospace move up
cmd + shift - 0x25 : aerospace move right

cmd + shift - home : aerospace move left
cmd + shift - pagedown : aerospace move down
cmd + shift - pageup : aerospace move up
cmd + shift - end : aerospace move right

# See: https://nikitabobko.github.io/AeroSpace/commands#resize
cmd - 0x1B : aerospace resize smart -50
cmd - 0x18 : aerospace resize smart +50

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
cmd - 0x0C : aerospace workspace 1
cmd - 0x0D : aerospace workspace 2
cmd - 0x0E : aerospace workspace 3
cmd - 0x23 : aerospace workspace 4
cmd - 0x21 : aerospace workspace 5
cmd - 0x1E : aerospace workspace 6

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
cmd + shift - 0x0C : aerospace move-node-to-workspace 1
cmd + shift - 0x0D : aerospace move-node-to-workspace 2
cmd + shift - 0x0E : aerospace move-node-to-workspace 3
cmd + shift - 0x23 : aerospace move-node-to-workspace 4
cmd + shift - 0x21 : aerospace move-node-to-workspace 5
cmd + shift - 0x1E : aerospace move-node-to-workspace 6

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
cmd - 0x30 : aerospace workspace-back-and-forth

# See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
cmd + shift - 0x30 : aerospace move-workspace-to-monitor --wrap-around next

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
cmd + shift - 0x29 : aerospace mode service

# some shortcuts to native calls
cmd + ctrl - 0x0C | cmd - 0x0C
cmd + ctrl - 0x0D | cmd - 0x0D
cmd + ctrl - 0x0E | cmd - 0x0E
cmd + ctrl - 0x23 | cmd - 0x23
cmd + ctrl - 0x21 | cmd - 0x21
cmd + ctrl - 0x1E | cmd - 0x1E

# escape the following keypresses
:: esc

cmd - escape ; esc

esc < cmd - escape ; default

# some app-dependent shortcuts
.define browser_apps ["google chrome", "safari", "firefox", "edge" ]

cmd + ctrl - 0x04 [ @browser_apps | ctrl + shift - tab ]
cmd + ctrl - 0x25 [ @browser_apps | ctrl - tab ]
ctrl - 0x11 [ @browser_apps | cmd - 0x11 ]
ctrl - 0x0D [ @browser_apps | cmd - 0x0D ]

# vertical tabbing apps
.define vertical_tab ["intellij idea"]
cmd + ctrl - 0x28 [ @vertical_tab | ctrl + shift - tab ]
cmd + ctrl - 0x26 [ @vertical_tab | ctrl - tab ]
